<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/styles/output.css">
</head>

<body>
    <div class="bg-white">
        <header class="absolute inset-x-0 top-0 z-50 ring-1 ring-black ring-opacity-5">
            <nav class="transparent-bg border-gray-200 px-4 lg:px-6 py-2.5">
                <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
                    <a href="/" class="flex items-center">
                        <span class="self-center text-2xl font-extrabold whitespace-nowrap gradient-text">Attendify Pro</span>
                    </a>
                    <div class="relative flex items-center lg:order-2">
                        <% if (user) { %>
                        <div id="profile-pic" class="flex-shrink-0 cursor-pointer">
                            <img class="h-10 w-10 rounded-full"
                                src="<%= user.profilePic %>"
                                alt="<%= user.displayName %>">
                        </div>
                        <% } else { %>
                        <a href="/auth/google"
                            class="text-gray-800 bg-gray-50 focus:ring-2 focus:ring-[#9089fc] font-semibold rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 focus:outline-none">Log
                            in</a>
                        <% } %>
                        <div id="profile-menu" class="hidden absolute right-0 top-14 z-10 w-48 rounded-md transparent-bg py-1 ring-1 ring-black ring-opacity-5">
                            <a href="/profile" class="block px-4 py-2 text-sm text-gray-700 font-semibold">Profile</a>
                            <a href="/logout" class="block px-4 py-2 text-sm text-gray-700 font-semibold">Log out</a>
                          </div>
                    </div>
                </div>
            </nav>
        </header>
        <div class="relative isolate px-6 pt-14 lg:px-8">
            <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
                aria-hidden="true">
                <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
                    style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
                </div>
            </div>
            <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
                aria-hidden="true">
                <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
                    style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
                </div>
            </div>
        </div>
    </div>

    <script src="/scripts/script.js"></script>
</body>

</html>